# RoLegacy client UI texts (Српски). Groundwork for multi-language (#104).
# Format: key=text  (// or # starts a comment; text runs to end of line).
# Add a new language by copying this file to texts/<Name>.cfg and translating the right-hand side.

# --- ESC menu ---
menu.resume=Настави
menu.logout=Одјава
menu.settings=Подешавања
menu.setup_sound=Подешавање звука
menu.setup_video=Подешавање видеа
menu.exit=Излаз
menu.back=Назад
menu.general=Опште
menu.help=Помоћ
menu.gamepad_setup=Подешавање гејмпеда
panel.sound=Звук
panel.video=Видео

# --- Setup: Sound ---
sound.master=Главна јачина
sound.bgm=BGM
sound.sfx=SFX

# --- Setup: Video ---
video.mode=Видео режим
video.mode.windowed=Прозорски приказ
video.mode.fullscreen=Преко целог екрана
video.vsync=V-Sync
video.vsync.enabled=Укључено
video.vsync.disabled=Искључено
video.fpslock=FPS-lock
video.fps.nolimit=Без ограничења
video.world_filter=Филтер света
video.objects_filter=Филтер објеката
filter.disabled=Искључено
filter.bilinear=Билинеарно
filter.trilinear=Трилинеарно

# --- Settings (general) ---
settings.language=Језик
settings.game_mode=Режим игре
gamemode.kbm=Тастатура+Миш
gamemode.touch=Додирни екран
gamemode.gamepad=Гејмпед

# --- Login / char select ---
login.top=Добродошли на BornRok\nНаш сајт: bornrok.com\nКласичан MMORPG
login.bottom=Да бисте направили налог, прочитајте упутство на дугмету испод. И додајте суфикс да направите налог!
login.howto=1. Смисли login (најмање 5 знакова), на пример: LOGIN\n2. Упиши жељени login у поље "ID"\n3. За избор пола:\n- За мушки налог додај "_m"\n- За женски налог додај "_f"\nПример: login_m или login_f\n4. Смисли лозинку (најмање 5 знакова). Упиши је у поље "Password"\n5. При поновном пријављивању НЕ пиши "_m"/"_f", унеси само свој login\n6. Подразумевана е-пошта: a@a.com\n7. Лозинка се касније може променити на нашем сајту
login.howto_btn=Како направити налог
login.minlen=Корисничко име и лозинка морају имати најмање 5 знакова
login.user=Кориснички ID
login.pass=Лозинка
login.connect=Повежи се
login.connecting=Повезивање ...
charselect.make=Направи
charselect.delete=Обриши
charselect.cancel=Откажи
charselect.ok=У реду

# --- Common windows ---
win.inventory=Ствари
win.equip=Опрема
win.stats=Статус
win.skill=Вештине
win.storage=Магацин
win.cart=Колица
win.trade=Размена
win.close=Затвори
common.on=УКЉ
common.off=ИСК
common.cancel=Откажи
common.add=Додај
common.accept=Прихвати
common.ok=У реду
common.create=Направи
common.delete=Обриши
common.chat=Ћаскање
common.apply=Примени
trade.title=Трговина
win.friend=Пријатељ
win.party=Група

# --- Inventory tabs / actions ---
inv.usable=Ствари
inv.equip=Опрема
inv.etc=Остало
inv.filter=Filter...
inv.sort.group=Group
inv.sort.alpha=A-Z
item.use=Употреби
item.drop=Баци
item.unequip=Скини

# --- Skill window ---
skill.points=Поени вештина
skill.used=Искоришћено
skill.passive=Пасивно

# --- Shop ---
shop.buy=Купи
shop.sell=Продај
shop.total=Укупно
shop.available_to_sell=Ствари доступне за продају
shop.title=Продавница
shop.shop_items=Ствари у продавници

# --- Auto-attack panel ---
auto.attack=Аутонапад
auto.filter=Филтер
auto.hp=Ауто ХП
auto.sp=Ауто СП
auto.use_below=Употреби испод
auto.clear=Очисти листу

# --- Death window ---
death.prompt=Вратити се на тачку чувања?
death.resurrect=Оживи

# --- Combat feedback ---
combat.miss=Промашај
combat.lucky=СРЕЋА!!

# --- Batch 5 (windows/dialogs) ---
info.basic=Основне информације
info.basic_short=Основне инфо
shop.buying_items=Ствари за откуп
vend.name=Име
vend.available_cart=Доступно (колица)
vend.vending_items=Ствари на продају
qty.label=Кол.
qty.price=Цена
death.died=Погинули сте
equip.ammo=Муниција
trade.accept_prompt=Да ли желите да прихватите?
party.join_prompt=Да ли желите да се придружите?
merc.contract=Уговор
merc.skills=Вештине
merc.no_skills=Нема научених вештина.
identify.title=Идентификуј

# --- Batch 6 (windows actions) ---
common.yes=Да
common.no=Не
common.send=Пошаљи
common.remove=Уклони
common.leave=Напусти
common.save=Сачувај
common.edit=Измени
common.dismiss=Отпусти
common.decline=Одбиј
common.use=Употреби
common.pm=ПП
common.buy=купи
common.cancel_lc=откажи
common.trade=размени
pet.feed=Нахрани
pet.trick=Трик
pet.to_egg=У јаје
pet.rename=Преименуј
pet.unequip_acc=Скини додатак
homun.attack=Нападни
homun.recall=Позови
homun.skills=Вештине
homun.hide_skills=Сакриј вешт.
store.open=Отвори продавницу
store.close=Затвори продавницу
store.find=Пронађи продавнице
store.view=Прикажи продавницу
store.sell=Продај ствар продавници
store.list=Листа
trade.ok=У реду
dialog.next=Даље

# --- Batch 7 (context menu) ---
ctx.deal=Затражи договор
ctx.chat=Отвори 1:1 ћаскање
ctx.friend=Додај за пријатеља
ctx.party=Позови у групу
ctx.guild=Позови у гилду
ctx.reject=Одбиј шапутање
win.add_friend=Додај пријатеља
login.service_select=Избор сервиса
login.account=Налог
login.login=Пријава

# --- Batch 8 (mode strip / windows / help) ---
pad.standard=Стандардно
pad.menu=Мени
pad.target_mob=Циљ: чудовиште
pad.target_npc=Циљ: НПЦ
pad.target_player=Циљ: играч
pad.mouse=Миш
pad.camera=Камера
pad.cam_lock=Закључана кам.
pad.cam_free=Слободна кам.
pad.detected=Гејмпед откривен.
pad.switch_prompt=Пребацити се на управљање гејмпедом?
pad.pickup=Покупи
auto.filter_title=Филтер аутонапада
auto.drag_here=превуци ствари овде
win.vending=Продаја
vend.setup_title=Постави продавницу
vend.my_shop=Моја продавница
win.buying_store=Откупна станица
win.quest=Задатак
win.craft.produce=Припреми
win.craft.arrow=Направи стреле
win.craft.repair=Поправи
win.craft.refine=Оплемени
win.guild=Гилда
win.rental=Изнајмљивање
death.title=Мртав
friend.wishes=жели да ти буде пријатељ.
party.create_title=Направи групу
party.invite_msg=позива те у групу.
chat.create_room=Направи собу за ћаскање
guild.invite_msg=позива те у своју гилду.
pet.hatch_prompt=Које јаје да излежемо?
guild.subject=Наслов
guild.notice=Обавештење
trade.with=Размена:
guild.tab_info=Инфо о гилди
guild.tab_members=Чланови
guild.tab_position=Позиција
guild.tab_skill=Вештина
guild.tab_expel=Избаци

# --- Help content ---
help.v1=Зраци светлости (Волум. светло: Зраци) нису видљиви док су
help.v2=HDR или Render Scale (FSR1 / SSAA) укључени. Искључите оба
help.v3=у Подешавању видеа да бисте видели божанске зраке.
help.v4=Interpolation
help.v5=Интерп. анимације/ефеката глатко прелама сличице спрајтова (иск. = класично).
help.k1=Alt+E    Ствари
help.k2=Alt+A    Статус
help.k3=Alt+Q    Опрема
help.k4=Alt+S    Вештине
help.k5=Alt+U    Дневник задатака
help.k6=Alt+V    Основне инфо (кружно)
help.k7=Alt+W    Колица (трговац)
help.k8=Alt+M    Листа пречица/повеза
help.k9=Alt+H    Пријатељи
help.k10=Alt+Z    Група
help.k11=Alt+G    Гилда
help.k12=Alt+B    Откупна станица
help.k13=Alt+C    Соба за ћаскање
help.k14=Alt+X    Скупи/рашири ћаскање
help.k15=Alt+1..0 / Num 1..0   Слотови брзе траке
help.k16=Tab  Мини-мапа    Enter  Фокусирај ћаскање
help.k17=Esc  Мени / затвори прозор
help.k18=LMB  Ходање/напад    RMB  Ротирај камеру
help.k19=Wheel  Зумирање
help.k20=/sit /stand, /w <име> <текст>
help.g1=Ауто-укљ. ако је пад присутан при покретању; иначе Опште подешавање ->
help.g2=Управљање: Гејмпед. Миш и тастатура и даље раде.
help.g3=D-pad: Горе Мени / Доле Чудовишта / Лево НПЦ / Десно Играчи
help.g4=   (притисни исто поново = Стандардно).
help.g5=L3 Режим миша (лева палица = курсор)  R3 Режим камере
help.g6=Стандардно: лева палица кретање (напред=правац, Л/Д стрејф),
help.g7=   десна палица Л/Д окрет, Г/Д нагиб камере.
help.g8=   A напад на најближег  Y седи  X аутонапад  B покупи
help.g9=Режими циљања: B најближи, десна палица бира по правцу,
help.g10=   A акција (напад/разговор), X контекст мени, Y следећи/поништи.
help.g11=Брзи слотови: држи L2/R2 (ред 1) или L1/R1 (ред 2), затим
help.g12=   дугме лица = слот тог блока (A/B/X/Y = 1/2/3/4).
help.g13=Режим менија: десна палица помера фокус, A изабери, Y затвори, X назад,
help.g14=   лева палица помера прозор (или скрола), L1/R1 картице, L2/R2 прозори.
help.g15=Опрема: фокусирај заузет слот, A = скини.
help.g16=Текст: тастатура на екрану (D-pad помера, A тастер, OK унос).
help.g17=Дијалог количине: D-pad +/-, A У реду, Y откажи.
help.g18=Start (Мени): отвара/затвара ESC мени у сваком режиму.
help.g19=Back (View/Share): укључује/искључује закључавање камере (праћење);
help.g20=   статус се приказује као Закључана кам. / Слободна кам. у траци режима.
help.g21=Осе палице обрнуте / окрет пребрз? ESC -> Подешавање гејмпеда.
help.g22=Вибрација: прекидачи за подрхтавање по догађају у Подешавању гејмпеда.
help.g23=Xbox / Steam Deck
help.g24=Дугмад лица A/B/X/Y; рамена LB/RB (L1/R1), LT/RT (L2/R2).
help.g25=PlayStation 4
help.g26=Дугмад лица Cross/Circle/Square/Triangle = A/B/X/Y овде.
help.g27=Тачпед управља курсором у сваком режиму (клик = LMB).
help.g28=Nintendo Switch
help.g29=Дугмад лица B/A/Y/X одговарају A/B/X/Y овде; ZL/ZR = L2/R2.

# --- Batch 9 (esc/charselect/messages) ---
charselect.title=Изабери лика
charselect.new=Нови
charselect.del=Обриши
charselect.create_title=Направи лика
msg.deal_canceled=Договор је отказан.
msg.tame_click=Кликни на чудовиште које желиш да питомиш!
msg.no_pet_food=Нема хране за љубимца!
msg.not_in_guild=Ниси у гилди.
login.menu=Мени
touch.mode_pad=Пад

# --- Help: Touchscreen ---
help.t1=Аутоматски укључено на додирном уређају.
help.t2=Гестови
help.t3=Додир: ходање или интеракција са NPC / чудовиштем / порталом / предметом.
help.t4=Превлачење: гест тренутног режима.
help.t5=Дуг притисак на објекат: контекстни мени (десни клик).
help.t6=Штипање (два прста): зумирање (Стандард и Камера).
help.t7=Режими (доња трака)
help.t8=Стандард: превуци да идеш у том смеру; додирни за интеракцију.
help.t9=Камера: превуци да слободно ротираш и нагињеш камеру.
help.t10=Пад: лева палица хода, десна окреће камеру.
help.t11=CamLock (дугме изнад Стандард)
help.t12=Закључава камеру на окретање лика.
help.t13=Стандард/Камера чувају твој угао; Пад скочи иза лика (његов поглед); десна палица Пада и даље ротира и по отпуштању се враћа иза.
help.t14=Текст
help.t15=Додирни поље за куцање (отвара се тастатура); додирни свет да затвориш.
guild.tab_notice=Обавештење
quest.done=Завршено
quest.none=Нема активних задатака
loading.please_wait=Учитавање, молимо сачекајте...
